.home {
  display: flex;
  align-items: stretch;

  &__leftSectionWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: red;
  }

  &__leftSection {
    width: 72px;
    height: 100dvh;
  }

  &__leftSectionFixed {
    position: fixed;
    width: inherit;
    padding: 0 8px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rightSectionWrapper {
    display: flex;
    align-items: flex-start;
    height: 100dvh;
    flex-direction: column;
    flex-grow: 2;
    background-color: blue;
  }
}

