.main {
margin: 0 auto;
  max-width: 800px;

}

.postForm {
  &__titleInputSection {
    max-width: 800px;
    margin: 18px auto 17px
  }

  &__titleInput {
    width: 100%;
    color: black;
    background-color: white;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #ccc;

    outline: none;
  }

  &__textArea {
    height: 900px;
  }

  &__editorWrapper {
    position: relative;
  }

  &__containerEditable {
    //margin-top: 1.5rem;
    min-height: 500px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
  }

  &__placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}

