.postForm {
  margin: 0 auto;

  input::placeholder {
    color: #FFE5E5;
    margin: 0 auto;
  }

  &__titleInputSection {
    max-width: 1100px;
    margin: 18px auto 17px
  }

  &__titleInput {
    width: 100%;
    color: black;
    background-color: white;
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }

  &__editorWrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1100px;
  }

}

